
@charset "utf-8";
/* CSS Document */


body{
	margin: 0;
	min-width: 980px;
	padding: 0;
}

p{
	margin: 0 0 20px 0;	
}

p, ul{
	font-family:"Proxima Nova Light", 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size-adjust:0.488;
	font-weight:200;
	font-style:normal;
}

img{
	border: 0;
}

h1
{
    margin:0px;
    padding:20px;
}
h1,h2{
	font-family:"Museo 900", Verdana, serif;
	font-size-adjust:0.40;
	font-weight:700;
	font-style:normal;
}

h3{
	font-family:"Beau Sans Pro Book", Verdana, sans-serif;
	font-size-adjust:0.531;
	font-weight:500;
	font-style:normal;
}

.wideBloc
{
    width: 100%;
	background:rgb(143, 153, 155);
}

#intro, header , .wideBloc
{
	position:relative;
	z-index:300;
}

.container
{
    margin:0 auto;
    width:700px;
}
.article-container
{
    display: flex;
    justify-content:center;
}
article
{
    min-width: 10%;
    max-width: 20%;
    
    text-align:justify;
    margin:10px;
	padding:8px;
	box-shadow: 2px 2px 8px #000;
}
.hoverable:hover
{
    box-shadow: 2px 2px 12px #b3d4e0;
}
article figure
{
    text-align:center;
    
}
article img
{
	max-width: 300px;
	height:auto;
}
.card
{
    max-width: 500px;
    background: rgb(245, 243, 241);
}
.cardsContainer
{
    margin:0 auto;
    width:70%;
    display: flex;
    justify-content:center;
}
.float-left{
	float: left;	
	margin: 0 0 0 20px;
}

.float-right{
	float: right;
	margin: 0 20px 0 0;
}

.center{
	font-size: 2.5em;
	padding: 80px 0 0 0;
	text-align: center;
}

#intro .container
{
    margin:auto;
    padding-top:200px;
}

#intro{
	background:url(../img/starry2.jpg) no-repeat fixed center -20px ;
    background-color: rgb(4, 21, 99);
    color:white;
	height: 600px;
	margin: 0 auto;
	padding: 0px 0px 100px 0px;
}

#second{
	background: url(../img/starry3.jpg) 50% 0 no-repeat fixed;
	color: black;
	height: 1100px;
	margin: 0 auto;
	overflow: hidden;
    padding: 0;
    position: relative;
}

#second .bg{
	background: url(../img/satellite.png) 50% top no-repeat fixed;
	height: 1200px;
	margin: 0 auto;
	padding: 0;
    position: absolute;
    right:0px;
    top:00px;
	width: 500px;
	z-index: 200;
}

#third{
	background: url(../img/thirdBG.jpg) 50% 0 no-repeat fixed;
	color: white;
	height: 650px;
	padding: 100px 0 0 0;	
}

#fifth{
	background: #ccc;
	height: 400px;
	margin: 0 auto;
	padding: 40px 0 0 0;
}

.story{
	margin: 0 auto;
	min-width: 980px;
	overflow: auto;
    width: 980px;
	padding: 100px 0 0 0;
    
}

.story .float-left, .story .float-right{
	padding: 100px 0 0 0;
	position: relative;
	width: 350px;	
}
